services:
  postgres: &postgres
    build: services/postgres
    environment: &env
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-test_password}
      POSTGRES_USER: ${POSTGRES_USER:-osm}
      POSTGRES_DB: ${POSTGRES_DB:-osm}
      # https://www.postgresql.org/docs/current/libpq-envars.html
      PGHOST: postgres
      PGPASSWORD: ${POSTGRES_PASSWORD:-test_password}
      PGUSER: ${POSTGRES_USER:-osm}
      PGDATABASE: ${POSTGRES_DB:-osm}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready && psql -c 'SELECT 1'"]
      interval: 5s
      start_period: 10s
      retries: 10
    shm_size: '2g'
    volumes:
      - ./data/postgres:/var/lib/postgresql/18/docker:z
    #command: ["postgres", "-c", "log_statement=all"] # debug
  postgres-fastimport:
    <<: *postgres
    profiles:
      - init
    hostname: postgres
    volumes:
      - ./data/postgres:/var/lib/postgresql/18/docker:z
      - ./services/postgres/postgres-fastimport.conf:/etc/postgresql/postgresql.conf:ro,z
  import:
    profiles:
      - init
    build:
      context: services
      dockerfile: osm2pgsql/Dockerfile
    command: "./init.sh"
    depends_on:
      postgres-fastimport:
        condition: service_healthy
    environment:
      <<: *env
      REPLICATION_URL: "https://planet.openstreetmap.org/replication/day/"
      INITIAL_PBF: "/data/init/${INITIAL_PBF:-planet-latest.osm.pbf}"
    volumes:
      - ./data/init:/data/init:ro,Z
      - ./data/hiking:/data/hiking:ro,z
      - ./data/external:/data/external:Z
      - ./data/cache:/data/cache:z
  sync:
    build:
      context: services
      dockerfile: osm2pgsql/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      <<: *env
    volumes:
      - ./data/cache:/data/cache:z
  renderd:
    build:
      context: services
      dockerfile: web/renderd/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      <<: *env
      #G_MESSAGES_DEBUG: "all" # debug
    volumes:
      - renderd-socket:/run/renderd
      - ./data/tiles:/var/cache/renderd/tiles:z
      - ./data/hiking:/styles/hiking/layers:ro,z
  apache:
    build:
      context: services
      dockerfile: web/apache/Dockerfile
    depends_on:
      - renderd
    volumes:
      - renderd-socket:/run/renderd
      - ./data/tiles:/var/cache/renderd/tiles:ro,z
    labels:
      - traefik.enable=true
      - traefik.http.routers.tiles_apache.rule=Host(`${VHOST}`)
      - traefik.http.routers.tiles_apache.entrypoints=websecure
      - traefik.http.routers.tiles_apache.tls=true
      - traefik.http.routers.tiles_apache.tls.certresolver=le
      - traefik.http.services.tiles_apache.loadbalancer.server.port=80
    networks:
      - traefik
  traefik:
    profiles:
      - traefik
    image: docker.io/library/traefik:v3.6
    command:
      - "--api=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.le.acme.email=${ACME_EMAIL}"
      - "--certificatesresolvers.le.acme.storage=/data/acme.json"
      - "--certificatesresolvers.le.acme.tlschallenge=true"
    ports:
      - 80:80
      - 443:443
    volumes:
      - ${DOCKER_SOCK:-/var/run/docker.sock}:/var/run/docker.sock:ro,Z
      - ./data/traefik:/data:z
    networks:
      - traefik

volumes:
  renderd-socket:

networks:
  traefik: {}
